/******** background ********/
body {
	background-color: #000;
	color: #FFF;
	font-family: Helvetica;
}

/******** title ********/
.regulation-header {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.regulation-header img {
	height: 25px;
	margin-top: -5px;
	margin-left: 5px;
}

title-text {
	display: flex;
	align-items: center;
}

title-text img {
	height: 40px !important;
	width: 40px;
}

h1 {
	line-height: 60px;
	font-size: 50px;
	cursor: default;
}

regulation-patreon {
	margin-right: 50px;
	transition: 0.3s;
}

home-button {
	margin-left: 50px;
	font-size: 25px;
	transition: 0.3s;
}

home-button a {
	color: #FFF;
	text-decoration: none;
}

home-button:hover,
regulation-patreon:hover {
	opacity: 0.6;
	transition: 0.3s;
}

/******** name boxes ********/
.regulation-title textarea,
.regulation-name-box textarea {
	width: 100%;
	height: 100px;
	resize: none;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	background-color: #121212;
	color: #FFF;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 15px;
}

.regulation-title textarea {
	line-height: 80px;
	border: 0px;
	font-size: 40px;
}

/******** ranking ********/
.regulation-ranking {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.list-container {
	width: 30%;
}

.list-title {
	display: flex;
	justify-content: center;
	height: 30px;
	align-items: center;
	font-weight: bold;
	font-size: 22px;
	margin: 20px;
}

.add-item {
	display: flex;
	gap: 10px;
	margin: 10px 0 20px;
}

#new-item-input {
	flex: 1;
	padding: 10px;
	background-color: #121212;
	color: white;
	border: 1px solid #636363;
	border-radius: 5px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 15px;
}

#new-item-input {
	flex: 1;
	padding: 10px;
	background-color: #121212;
	color: white;
	border: 0px;
	border-radius: 5px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 15px;
	transition: 0.2s;
}

#add-item-button {
	padding: 10px 15px;
	background-color: #121212;
	color: white;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-family: helvetica;
	font-size: 15px;
	transition: 0.3s;
}

#add-item-button:hover,
#new-item-input:hover {
	background-color: #444;
	color: #FFF;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid 1px #636363;
    background: #121212;
    border-radius: 6px;
    min-height: 457px;
}

ul#source-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid 1px #636363;
    background: #121212;
    border-radius: 6px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

li {
	padding: 12px;
	border-bottom: 1px solid #636363;
	cursor: grab;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

li:hover {
	background-color: #222;
}

li:last-child {
	border-bottom: none;
}

.sortable-ghost {
	opacity: 0.5;
	background: #555;
}

.delete-button {
	background-color: #333333;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 10px;
	width: 16px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.delete-button:hover {
	background-color: #2a2a2a;
	transition: 0.3s;
}

/******** credit ********/
.regulation-credit {
	width: 100%;
	margin: auto;
	background-color: #000;
	display: inline-flex;
	justify-content: center;
	margin-top: 10px;
}

.regulation-credit a,
.regulation-break {
	display: flex;
	justify-content: center;
	padding: 7px;
	font-family: Helvetica;
	font-weight: bold;
	opacity: 0.5;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	transition: 0.5s;
}

.regulation-credit a:hover {
	opacity: 1;
	transition: 0.5s;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: #FFF;
	border-radius: 2px;
}