body {
background-color: #000;
color: #FFF;
font-family: Helvetica;
}

.regulation-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.regulation-header img {
    height: 40px;
    margin-top: -5px;
    margin-left: 5px;
}

h1 {
    line-height: 60px;
    font-size: 50px;
}

#regulationbox {
background-color: #FF0000;
}

.regulation-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.regulation-item textarea, .regulation-title textarea, .regulation-name-box textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #121212;
    color: #FFF;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.regulation-title textarea {
    line-height: 80px;
    border: 0px;
    font-size: 40px;
}

.regulation-name-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: 20px auto;
}
        
.regulation-name-box textarea {
    font-size: 20px;
    padding-top: 37px;
    border: 0px;
}

.regulation-button-container {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.regulation-randomize {
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #121212;
    border: 0px;
    color: #FFF;
    font-family: Helvetica;
    width: 300px;
    border-radius: 5px;
    font-weight: bold;
}
        
.regulation-counter {
    font-size: 16px;
    margin-left: 20px;
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 20px;
    vertical-align: middle;
    background-color: #121212;
    font-weight: bold;
    border-radius: 5px;
}

.regulation-credit {
    width: 300px;
    margin: auto;
}

.regulation-credit a {
    display: flex;
    justify-content: center;
    padding: 7px;
    font-family: helvetica;
    font-weight: bold;
    opacity: 0.5;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    transition: 0.5s;
}

.regulation-credit a:hover {
    opacity: 1;
    transition: 0.5s;
}